
.blog-card{
	
	display: flex;
	justify-content: space-around;
	height: 450px;
	align-items: center;

}

.blog-img{
	border-radius: 10%;
	max-height: 65%;
	max-width: 65%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-content-text{
	background-image: url("https://images.unsplash.com/photo-1532210317995-cc56d90177d9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
	opacity:0.8;
	text-align: center;
	width: 60%;
	height: 60%;
	
}
h2{
	opacity: 1;
	font-family: sans-serif;

}
p{

}