.card-category-container{
	border-top-right-radius: 15%;
	border-top-left-radius: 15%; 
	border-radius: 15%;
	position: relative;
	width: 50%;
	min-height: 400px;
	height: 500px;
	background-image: radial-gradient(ellipse , black,rgb(255,20,0),rgb(255,155,0),rgb(255,0,0));;
	align-items: center;
	display: flex;
	justify-content: space-around;
	margin-left: 5px;


	
	float: left;
	
}

.grad-title{
	color: white;
	text-align: center;
	font-family: sans-serif;
}