.card-prod-container{
	border-top-right-radius: 15%;
	border-top-left-radius: 15%; 
	border-radius: 15%;
	background-image: url("garden.jpg");
	background-size: 100% 100%;
	margin-top: 35px;
	margin-right: 15px;
	display: flex;
	height: 500px;
	justify-content: space-around;
	align-items: center;
}

.card-prod-title{
	color: white;
	font-family: sans-serif;

}