
body{
	background-color:#e8998d;
}
.profile{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	height: 500px;
	width: 100%;
	background-image:url("https://source.unsplash.com/random/1900x500");

}
.avatar{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	height: 500px;
	width: 100%;
	background-image:url("avatar-splash.jpg");
}

.banner{
	border:solid;
	background-color: #adcad6;
	width: 300px;
	position: relative;
	top: 20px;
	height: 400px;
	left: 42%;

	align-items: center;
}

.avatar-pic{

	border-radius: 50%;

}

.card_pic{

}
h1,h2{
	color: rgb(247, 142, 105);
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.trick-btn,.trick-btn2,.trick-btn3{

	border-radius: 100%;
	padding: 10px;
	height: 40px;
	width: 40px;
	background-color: rgba(300,300,300,0.9);
	text-decoration: none;

}
.trick-btn:hover,.trick-btn2:hover{
	transition: width 0.5s, height 0.5s;
	background-color: green;
	color:white;
	width: 50px;
	height: 50px;

}

.trick-btn3:hover{
	transition: width 0.6s ,height 0.6s ;
	width: 700px;
	height: 70px;
	background-image: url("page2/ring2.gif");
	background-size: 70px 70px;
	background-position: left top;;
}
.trick-btn2:hover{
	transition: 1s;
	border-radius: 10%;
	height: 25px;
}

.trick-btn2:focus{
	background-color: rgb(200,200,0)
}